    <!-- body -->
    <div class="row my-5">
      <div class="col-1"></div>
      <!-- avatar -->
      <div class="col-4">
        <div id="avatar" class="border-bottom border-3 border-muted">

          <img
           {{#if user.profilePic.url}}
             src = "{{user.profilePic.url}}"
          {{else}}
             src = "/images/user.png"
          {{/if}}
            alt="avatar"
            class="rounded-circle mb-3"
            id="avatarDisplay"
            style="width: 200px; height: 200px; object-fit: cover; border: 5px solid red"
          />
          <label for="" class="fs-2 my-3">
            TuanWoox
            {{#if user.premium.isPremium}}
                <br>
                <span class="badge bg-warning text-dark my-3">Premium User</span>
                {{#if eq currentUser._id user._id}}
                  <span>Hết hạn vào:</span>
                {{/if}}
            {{/if}}
        
          </label>
          <br>
          <!-- Add Premium Label Below -->
          

        </div>
          {{#if currentUser}}
             {{#if (eq currentUser._id user._id)}}
            <div class="d-grid gap-3 my-5">
              <a href="/account/changePassword" class="btn btn-outline-primary">
                Đổi mật khẩu
              </a>
              <a href="" class="btn btn-outline-info">
                Mua premium
              </a>
              <a href="/account/logOut" class="btn btn-outline-danger">
                Đăng xuất
              </a>            
            </div>
            {{/if}}
          {{/if}}
      </div>
      <!-- thông tin -->
      <div class="col-7 border-start border-3 border-muted">
  
        <h5>
          THÔNG TIN CÁ NHÂN
          {{#if currentUser}}
             {{#if (eq currentUser._id user._id)}}
              <a href="/user/{{user._id}}/editProfile"><i class="bi bi-pencil-square text-primary mx-2"></i></a>
            {{/if}}
          {{/if}}
          
         
        </h5>

        <div class="mb-3">
          <label for="userName" class="form-label mx-3">Họ và tên</label>
          <input
            type="text"
            class="form-control w-75"
            id="userName"
            value="{{user.fullName}}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="Email" class="form-label mx-3">Email</label>
          <input
            type="text"
            class="form-control w-75"
            id="Email"
            value="{{user.email}}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="birthdate" class="form-label mx-3">Ngày sinh</label>
          <input
            type="text"
            class="form-control w-75"
            id="birthdate"
            value="{{formattedDateOfBirth}}"
            readonly
          />
        </div>
        <div class="mb-3">
        <label for="gender" class="form-label mx-3">Giới tính</label>
        <input
          type="text"
          class="form-control w-75"
          id="gender"
          value="{{#if (eq user.gender 'male')}}Nam{{else if (eq user.gender 'female')}}Nữ{{else}}''{{/if}}"
          readonly
        />
      </div>
        <div class="mb-3">
          <label for="address" class="form-label mx-3">Địa chỉ</label>
          <input
            type="text"
            class="form-control w-75"
            id="address"
            placeholder="Chưa có địa chỉ"
            value="{{user.adress}}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label mx-3">Điện thoại</label>
          <input
            type="text"
            class="form-control w-75"
            id="address"
            placeholder="Chưa có số điện thoại"
            value="{{user.phoneNumber}}"
            name="user[phoneNumber]"
            readonly
          />
        </div>
      </div>
    </div>


    
